<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
  <vendor>Project Bluefin</vendor>
  <vendor_url>https://github.com/projectbluefin/chairlift</vendor_url>
  <icon_name>io.projectbluefin.chairlift</icon_name>

  <action id="io.projectbluefin.chairlift.bootc.stage">
    <description>Download and stage a system image update</description>
    <message>Authentication is required to stage a system update</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bootc-update-stage</annotate>
  </action>

</policyconfig>
