[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://github.com/wrasse-os/Wrasse/issues
Icon=ublue-discourse
Name=Report an Issue
Comment=Wrasse issue tracker
Categories=Utility;
