[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://github.com/wrasse-os/Wrasse/tree/main/docs
Icon=ublue-docs
Name=Documentation
Name[cs]=Dokumentace
Comment=Wrasse documentation
Comment[cs]=Wrasse dokumentace
Comment[fr]=Documentation de Wrasse
Keywords=Wrasse;Help;Docs;Instructions
Categories=Utility;
